---
import HeaderLink from "@/features/Header/HeaderLink.astro";
import Link from "@/components/Link/Link.astro";

import { headerLinkOf } from "./headerLinkMapper";
import { Image } from "astro:assets";
import { ARTICLES_PATH } from "@/features/Blog/List/constants/path";
import { SITE_TITLE } from "@/constants/meta";

interface Props {
  context: string;
}

const { context } = Astro.props;

const headerLinks = headerLinkOf(context);
---

<header class="shadow-md mx-auto py-3 lg:pt-3 lg:px-0">
  <div class="flex justify-between">
    <Link href={ARTICLES_PATH}>
      <div class="flex">
        <Image
          src={"/masayan-illust.png"}
          width={32}
          height={20}
          alt={"西垣雅矢のプロフィール画像"}
          format="avif"
          class="mr-2 mb-1 hidden md:block"
        />
        <h2 class="headerTitle">
          {SITE_TITLE}
        </h2>
      </div>
    </Link>

    <nav class="grid grid-cols-3 items-center">
      <div class="col-span-3 text-right">
        {
          headerLinks.map((link) => (
            <HeaderLink href={link.href} iconName={link.iconName}>
              {link.text}
            </HeaderLink>
          ))
        }
      </div>
    </nav>
  </div>
  <style>
    header {
      margin: 0em 0 1em;
    }

    header > div {
      @apply mx-auto;
      width: 90%;
      max-width: 1400px;
    }

    .headerTitle {
      @apply font-bold text-base sm:text-xl md:text-2xl;
    }
  </style>
</header>
