---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import { getBlogs } from "../../libs/microcms";

const res = await getBlogs();
const posts = res.contents;
// TODO: レイアウトコンポーネントに共通化する
---

<!DOCTYPE html>
<html lang="ja">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <h2> {post.title}</h2>
                <img src={post.eyecatch.url} alt="" />
                <FormattedDate date={new Date(post.publishedAt)} />
                <a href={`/blog/${post.id}/`}>{post.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
