---
import FormattedDate from "@/components/FormattedDate.astro";
import BlogListLink from "@/features/Blog/List/BlogListLink.astro";
import BlogListLayout from "@/layouts/BlogListLayout.astro";
import type { Blog } from "@/libs/microcms";
import { Image } from "@astrojs/image/components";

type Props = {
  posts: Blog[];
};

const { posts } = Astro.props;
---

<BlogListLayout
  title={"ブログ記事一覧"}
  description={"プログ記事一覧ページです"}
>
  <section>
    {
      posts.map((post) => (
        <div class="grid grid-cols-2 gap-6 mb-6">
          <BlogListLink href={`/blog/${post.id}/`}>
            <Image
              src={post.eyecatch.url}
              width={512}
              height={288}
              alt={post.title}
              format="avif"
            />
          </BlogListLink>
          <div>
            <h2 class="text-sm md:text-2xl"> {post.title}</h2>
            <div>
              <FormattedDate date={new Date(post.publishedAt)} />
            </div>
            <BlogListLink href={`/blog/${post.id}/`}>
              <span class="text-sm md:text-base">この記事を見る</span>
            </BlogListLink>
          </div>
        </div>
      ))
    }
  </section>
</BlogListLayout>
