---
import FormattedDate from "@/components/FormattedDate.astro";
import "@fontsource-variable/noto-sans-jp";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";

type Props = {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
  heroImage?: string;
};

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout {title} {description}>
  <article>
    <h1 class="title text-3xl font-bold mb-2 inline-block">
      {title}
    </h1>
    <div>
      <FormattedDate date={pubDate} />

      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    {
      heroImage && (
        <Image
          src={heroImage}
          width={384}
          height={216}
          alt={title}
          format="avif"
        />
      )
    }
    <slot />
  </article>
</BaseLayout>

<style is:global>
  article h1::before {
    content: "🔥";
  }

  article h2 {
    @apply text-2xl font-bold mt-8 mb-2;
  }

  article h2::before {
    content: "🚀";
    padding-right: 5px;
  }

  article h3 {
    @apply text-lg font-bold mt-8 mb-2;
  }

  article p {
    @apply mt-4 mb-1;
  }

  article iframe {
    @apply mt-2;
  }

  article blockquote {
    border: 1px solid #474747;
    padding: 16px;
    font-style: italic;
  }

  article blockquote p {
    @apply m-0;
  }

  article img {
    border-radius: 5px;
  }

  article ul {
    @apply list-disc px-8 py-4;
  }
</style>
